body {
    font-family: Arial, sans-serif;
    background-color: #1393aa;
    margin: 5px;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #1393aa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0e7a8a;
    
}

p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a {
    color: #ffeb3b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.logintype  {
    
    text-shadow: #1393aa;
    margin-top: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.logintype:hover{
    text-decoration: wavy;
}